*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: #D3D3D3;
    padding: 10px 2%;
}

.logo-1{
    float: left;
    width: 80px;
    height: 60px;
    background-image: url("../images/house.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-2{
    float: right;
    width: 80px;
    height: 60px;
    background-image: url('../images/apartament.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (maw-width:510px){
    header{
        text-align: center;
    }

    .logo-1,.logo-2{
        margin-top: 10px;
        display: inline-block;
        float: none;
    }
}
